@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

button {
  padding: 0.8rem 4.4rem;
  background: #56b280;
  border: none;
  border-radius: 0.4rem;

  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background: #49976c;
}

header {
  border-bottom: 1px solid rgba(86, 178, 128, 0.2);
}

header nav {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.8rem;
  color: #272727;
}

header nav #icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main #intro {
  background-image: url("./src/introBgImg.svg");
  background-size: cover;
  padding: 21rem 35.5rem;
}

#intro #centerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8facc;
  gap: 4.5rem;
  padding: 5rem 9.5rem;
  max-width: 73rem;
  margin: 0 auto;
}

#intro #centerBox #text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 54rem;
}

#intro #centerBox #text #emoji {
  font-size: 4rem;
  margin-bottom: 4rem;
}

#intro #centerBox #text h1 {
  color: #1d252c;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5.7rem;
}

#intro #centerBox #text p {
  color: #1d252c;
  font-family: Helvetica;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.products {
  padding: 16.6rem 9rem;
  text-align: center;
}

.products h2 {
  color: #0b254b;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5.76rem;
  margin-bottom: 1.5rem;
}

.products p {
  color: #5e6e89;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
}

.products #itensBox {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  margin-top: 6rem;
  max-width: 111.1rem;
}

.products #itensBox .itemWrapper {
  width: 25.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.products #itensBox .itemWrapper img {
  background-color: rgba(123, 123, 123, 15%);
  border-radius: 0.5rem 0.5rem 0 0;
}

.products #itensBox .itemWrapper .text {
  padding: 1.6rem 2.6rem;
}

.products #itensBox .itemWrapper .text h3 {
  color: #1d293f;
  text-align: left;
  font-weight: 500;
}

.products #itensBox .itemWrapper .text p {
  color: #56b280;
  text-align: right;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 500;
}
